.price-resultes-wrapper{margin-top: 2rem;width: 80%;margin: auto;display: flex;justify-content: space-between;margin-bottom: 3rem;flex-wrap: wrap ;}
.site-card{flex: 0 0 30%;}
.results-title{flex: 0 0 100%;text-align: center;}
.results-title h2{text-decoration: underline;}
.mat-card-header-text{display: block;width: 100%;text-align: center;}
.card-header{display: block;text-align: center;}
.mat-card-content{text-align: center;}
.mat-card-content h3{font-size: 1.5rem;margin: 0.5rem 0;}
.mat-card-content p{font-size: 0.9rem;font-weight: 500;}
.content-box .site-logo {flex: 0 0 20%;}
.content-box .site-logo img{height: 2.5rem;}